@media only screen and (max-width: 1100px){
    .container{
        padding: 0 70px;
    }
    header{
        padding: 30px 0 20px;
    }
    .sectionTitle{
        transform: translateY(0px);
    }
    .sectionTitle>h1{
        font-size: 50px;
        line-height: 70px;
    }

    .time>.date{
        font-size: 26px;
    }
}

@media only screen and (max-width: 900px){
    .container{
        padding: 0 50px;
    }
    .main_1{
        flex-direction: column;  
        margin: 20px 0 140px;
    }
    .sectionTitle{
        margin: 0 auto;
    }
    .sectionTitle>h1{
        text-align: center;
        font-size: 50px;
        line-height: 70px;
    }
    .time>.date{
        font-size: 22px;
    }
    .time{
    	width: 450px;
        position: absolute;
        transform: translate(-28px, 670px);
        padding: 35px;
    }

    .sectionImg{
        text-align: center;
    }

    .blockQA{
        font-size: 28px;
        gap: 5px;
    }

    .mail>input{
        width: 600px;
    }
}

@media only screen and (max-width: 730px){
    .container{
        padding: 0 25px;
    }

    header{
        justify-content: space-between;
        padding: 20px 0;
        gap: 15px;
    }
    .headerLogo>img{
        width: 60px;
    }

    .headerNav{
        gap: 7px;
    }
    .headerNav>.telegram{
        font-size: 10px;
        line-height: 8px;
        transition: all 0.5s;
        margin-top: 0;
    }
   
    .telegram>img{
        width: 10px;
        height: 10px;
    }


    .main_1{
        display: flex;
        flex-direction: column;
        margin: 0 0 -20px;
    }
    .sectionTitle>h1{
        font-weight: 700;
        font-size: 27px;
        line-height: 34px;
        margin-bottom: 23px;
    }

    .time{
        padding: 25px;
        position: absolute;
        transform: translate(-33px, 460px);
        width: 260px; 
 
    }
    .time>.beforeStart{
        font-size: 9px;
        line-height: 12px;
        margin-bottom: 4px;
    }
    .time>.date{
        font-size: 14px;
        line-height: 18px;
    }

    .sectionImg{
        max-width: 360px;
        min-width: 300px;
    }
    .sectionImgBlock{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 150px);
        margin-bottom: 0;
    }
    .sectionImgBlock>img{
        width: 160px;
    }
    .sectionImgBlock>.big1{
        width: 160px;
        height: 189%;
    }
    .sectionImgBlock>.big2{
        width: 320px;
    }
    
    
    .sectionQuestionAnswer{
    	display: inline-block;
        border-top: 1.5px solid #492DFF;
        padding: 130px 0 0;
         margin-bottom: 0px;
    }
    .blockQA{
        font-size: 20px;
        line-height: 24px;
    }
   
    .question .mobile, .answer .mobile{
    	display: inline-block;
        width: 20px;
        transform: translateY(5px);
    }



    footer{
        padding: 30px 0;
    }
    footer h2{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
    }
    footer h5{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .mail>input{
        width: 270px;
        padding: 18px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 16px 0;
        border: 1px solid #FF7E2D;
    }
    .mail>button{
        font-size: 20px;
        line-height: 24px;
        padding: 15px 70px;
    }
    .conditions{
        font-size: 16px;
        line-height: 27px;
        margin: 24px 0 16px;
    }
    .conditions>a{
        text-decoration-line: underline;
        color: rgba(255, 255, 255, 0.5);
    }
}

@media only screen and (max-width: 350px){
    .sectionImgBlock{
        grid-template-columns: repeat(2, 140px);
        grid-template-rows: repeat(3, 125px);
    }
    .sectionImgBlock>img{
        width: 140px;
    }
    .sectionImgBlock>.big1{
        width: 140px;
        height: 194%;
    }
    .sectionImgBlock>.big2{
        width: 280px;
        transform: translateY(-10px);
    }

    .time{
        padding: 15px;
        transform: translate(-30px, 380px);
        width: 260px; 
 
    }

    .mail>input{
        width: 230px;
        padding: 13px;
    }
    .mail>button{
        font-size: 20px;
        padding: 13px 60px;
    }
    .conditions{
        font-size: 13px;
    }
}