@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
	padding: 0px;
	margin: 0px;
	border: none;
}
a, a:link, a:visited  {
    text-decoration: none;
}
a:hover  {
    text-decoration: none;
}


body{
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    margin: 0 auto;
    padding: 0 118px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0;
}
.headerLogo{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #000000;
}
.headerLogo:hover{
    cursor: pointer;
}
.headerNav{
    display: flex;
    align-items: baseline;
    gap: 22px;
}
.headerNav>.telegram{
    border: 1px solid#26A4E3;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    margin-top: 7px;
    background: #26A4E3;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: all 0.5s;
}
.headerNav>.telegram:hover{
    cursor: pointer;
    background: #ffffff;
    color: #26A4E3;
}


.main_1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 20px;
}
.sectionTitle{
    max-width: 700px;
    margin: 0 25px 0 0;
    transform: translateY(-30px);
}
.sectionTitle>h1{
    font-weight: 700;
    font-size: 68px;
    line-height: 84px;
    margin-bottom: 33px;
}

.time{
    justify-content: center;
    padding: 47px 42px;
    background: #FF7E2D;
    border-radius: 8px;
}
.time>.beforeStart{
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.time>.date{
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.sectionImgBlock{
    display: grid;
    grid-template-columns: repeat(2, 255px);
    grid-template-rows: repeat(3, 230px);
    gap: 5px;
}

.big2{
    grid-column-start: 1;
    grid-column-end: 3;
    transform: translateY(-20px);
}


.sectionQuestionAnswer{
	display: flex;
	justify-content: space-between;
	gap:20px;
	align-items: stretch; 
    border-top: 1.5px solid #492DFF;
    padding: 75px 0 0;
    margin-bottom: 70px;
}
.blockQA{
    font-size: 32px;
    line-height: 40px;
}
.blockQA>.question{
    height: 50%;
    margin-bottom: 20px;
    color: #4453D9;
}
.blockQA>.answer{
    height: 50%;
    margin-bottom: 20px;
}
.question, .answer{
    display: flex;
    gap: 25px;
}

footer{
    background-image: url(export/images/Rectangle\ 14.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 75px 0 30px;
    margin-top: 20px;
}
footer h2{
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    color: #F9F9F9;
    margin-bottom: 15px;
    letter-spacing: 5px;
}
footer h5{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #F9F9F9;
    margin-bottom: 35px;
}
.mail>input{
    width: 719px;
    padding: 27px 18px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    background: #FFFFFF;
    border: 2px solid #FF7E2D;
    border-radius: 8px;
    margin: 0 5px 5px 0;
}
.mail>button{
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    padding: 27px 130px;
    background: #FF7E2D;
    border-radius: 8px;
    transition: all 0.5s;
}
.mail>button:hover{
    cursor: pointer;
    color: #FF7E2D;
    background: #FFFFFF;
}
.conditions{
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
    letter-spacing: 0.7px;
    color: rgba(255, 255, 255, 0.5);
    margin: 35px 0;
}
.conditions>a{
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.5);
}
.year{
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.5);
}
